.product-card, .product-card-clickable {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  min-height: 450px;
  box-sizing: border-box;

  justify-content: space-between;
  text-align: center;

  h3 {
    min-height: 48px;
    margin-bottom: 0.5rem;
  }

  p {
    min-height: 48px;
  }
}

.product-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.quantity-selector {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 999px;
  padding: 0.5rem 1rem;
}

.quantity-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
  }
}

.quantity-display {
  min-width: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0.5rem;
}

.add-to-cart {
  background-color: #ca0065;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s ease;
  align-self: center;

  &:hover {
    background-color: #BA005C;
  }

  .cart-icon {
    font-size: 1.2rem;
  }
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.manager-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;

  button {
    flex: 1 1 auto;
  }
}

.stock-warning {
  color: red;
  font-weight: bold;
  margin-top: 5px;
}
