<div class="product-card">
    <div class="product-card-clickable" (click)="navigateToProduct($event)">

        <div>
            <img [src]="'imgSrc/'+product.imgSource" class="product-image" alt="{{product.productName}}" />
        </div>
        <div>
            <h3>{{ product.productName }}</h3>
            <p>{{ product.description }}</p>
            <h4>{{ product.cost | currency:'ILS' }}</h4>
        </div>
    </div>

    <button class="add-to-cart" (click)="addToCart()" [disabled]="!isLoggedIn()">
        <span class="cart-icon">🛒</span> Add To Cart
    </button>

    @if(getUserRole() == "manager"){
    <div class="manager-buttons">
        <button mat-raised-button color="primary" (click)="editProduct()">Update</button>
        <button mat-raised-button color="warn" (click)="deleteProduct()">Delete</button>
    </div>
    }
</div>