@if (cartItems.length == 0) {
<p>Your cart is empty</p>
<a (click)="shop()">Continue Shopping</a>
}
@else {
<p>
    Subtotal ({{ getTotalItems() }} items): ${{ getTotalCost().toFixed(2) }}
</p>
<button mat-flat-button>Proceed to checkout</button>

@for (i of cartItems; track i.product.id) {
<div class="container">
    <div class="image-wrapper">
        <img [src]="'imgSrc/'+i.product.imgSource" class="product-image" alt="{{i.product.productName}}" />
    </div>
    <div class="details">
        <div>
            <p>{{ i.product.productName }}</p>
            <p>{{ i.product.description }}</p>
            <p>Price: ${{ i.product.cost }}</p>
            <p>Quantity: {{ i.quantity }}</p>
            <p>Total: ${{ (i.product.cost * i.quantity).toFixed(2) }}</p>
        </div>
        <div class="btns">
            <div class="quantity-selector">
                <button class="quantity-btn" (click)="decreaseQty(i.product)">-</button>
                <span class="quantity-display">{{ i.quantity }}</span>
                <button class="quantity-btn" (click)="increaseQty(i.product)">+</button>
            </div>
            <button mat-stroked-button color="warn" (click)="confirmRemoveProduct(i.product)">
                Remove
            </button>
            <!-- <button mat-icon-button color="warn" (click)="removeItem(i.product)" matTooltip="Remove item">
            <mat-icon>delete</mat-icon>
        </button> -->
        </div>
    </div>
</div>
}
}