.cart-sidebar {
  position: fixed;
  top: 80px;
  right: 0;
  width: 11vw;
  background-color: #f5f5f5;
  padding: 16px;
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;
  margin-right: 0px;
}
.cart-item {
  margin-bottom: 10px;
}

img{
    width: 10vw;
    flex-shrink: 0;
    margin: auto;
}
