.app-container {
  display: flex;
}

.main-content {
  flex: 1;
  transition: all 0.3s ease;
}

.main-content.full-width {
  width: 100%;
}

.sidebar-container {
  width: 14vw;
  background-color: #f5f5f5;
  border-left: 1px solid #ccc;
}